/* DropdownMenu.css */
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 8px;
    display: none;
  }
  
  .open {
    display: block;
  }
  
  
  .option:hover {
    background-color: #f2f2f2;
  }
  
  .option {
    display: flex;
    justify-content: space-between; /* Added to separate text and logo */
    align-items: center;
    padding: 8px;
    cursor: pointer;
  }
  
  .option-logo {
    margin-left: 10px; 
  }
  
  .remove-option {
    color: red; /* Make text red for 'Remove' option */
  }
  .mobile-header {
    position: relative;
  }
  